<!DOCTYPE html>
<html>
<head lang="zh-hans">
    <meta charset="UTF-8">
    <title>AngularJS</title>
    <script src="../bower_components/angularjs/angular.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div class="container">
        <h1 class="page-header">AngularJS</h1>
        <div ng-app="myApp">
          {{'hello ' + ' youqingkui'}}
            <di ng-controller="UserController">
                <input type="text" ng-model="user.name">
                <input type="text" ng-model="user.email">
                <p>用户名：{{ user.name }}</p>
                <p>E-mail： {{ user.email }}</p>
                <button ng-click="user.subscribe()">订阅</button>
            </di>

            <div ng-controller="ShowController">
                <ul>
                    <li ng-repeat="show in shows" ng-class="{watch: show.watch}">
                        <input type="checkbox" ng-model="show.watch"> {{ show.name }}
                        <span class="glyphicon glyphicon-unchecked" ng-hide="show.watch"></span>
                        <span class="glyphicon glyphicon-check" ng-show="show.watch"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>